/**************
p{
color:red;
font-weight:bold;
font-size:24px;
}  
***************/
body{
    background:grey;
}
p,h1{
    color:red;
}

h4{
    color:antiquewhite;
}

div p{
    color:green
}

/* 
id is # 
*/

#first-para{
    color:yellow
}

/*
class is . 
*/

.first-para{
    
    color:chocolate
}

div {
    border: 4px solid black;
    background:pink;
    color:azure;
    float:right;
    width:50%;
    border-radius:25px;
    margin-right:20px;
    padding:10px;
}

div ul{    
list-style-type: none;
list-style-type: square;

}